# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
.venv/

# Testing
.coverage
coverage/
htmlcov/
.nosetests
.pytest_cache/

# Environment variables
.env
.env.local
.env.*
.venv.bak

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build systems
.mypy_cache/
.tox/
.hypothesis/

# Distribution / packaging
*.tar.gz
*.whl
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
nosetests.xml
coverage.xml
*.cover
*.gcda
*.gcno

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jython
jython.jar

# PEP 582
__pypackages__/